<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>form</servlet-name>
		<servlet-class>servlets.Form</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>form</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>servlets.Add</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>servlets.Delete</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	

</web-app>